html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #FFF;
  background: #fc6015;
  margin: 0;
  align-items: center;
}
p {
  font-size: 1.5em;
  text-align: center;
}
img {
  padding: 1rem;
  max-width: 100%;
}
section {
  max-width: 600px;
}

#logo {
  margin: auto;
}
