html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #FFF;
  background: #fc6015;
  margin: 0;
}
footer {
  text-align: center;
}

#logo {
  margin: auto;
}
